.home__wrapper {
    width: 100%;
    height: 100vh;
    /* position: absolute;
    top: 0;
    left: 0; */
}
.home__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    position: relative;
    top: 230px;
}
.carousel__child {
    width: 55%;
    height: 500px;
    position: relative;
    top: -40px;
}
.carousel__image {
    width: 100%;
    height: inherit;
    /* object-fit: contain; */
}
.carousel__notes {
    max-width: 45%;
    height: inherit;
    box-sizing: border-box;
    /* float: right; */
    position: relative;
    top: -460px;
    right: -55%;
    padding-left: 30px;
    padding-bottom: 55px;
}
.item__title {
    color: hsl(0, 0%, 0%);
    font-family: 'Spartan';
    font-weight: 700;
    font-size: 32px;
    text-align: justify;
    width: 70%;
}
.item__text {
    color: hsl(0, 0%, 63%);
    font-family: 'Spartan';
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    line-height: 25px;
    width: 70%;
}
.item__link {
    font-family: 'Spartan';
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: -10px;
}
.item__link a {
    color: hsl(0, 0%, 27%);
    letter-spacing: 5px;
}
.right {
    font-size: 18px;
}